#root {
  
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: '#000';
  overflow: hidden;
  display: flex;
  justify-content: center;
  background-color: darkgrey;
}

.App {
  width: 360px;
  height: 100vh;
  background-color: white;
  display: 'flex';
  flex-flow: 'column nowrap';
  justify-content: 'space-between';
  overflow: 'hidden';
}
